//RESPONSIVE//
// @media (min-width:992px)
//    .page__home header.hero
//       background-image: url(/assets/images/Banners/DernierActuNouv.png)


@media (max-width:500px)
    .page__home header.hero
        background-image: url(/assets/images/Banners/DernierNouvPetit.png)

    .authors__taxonomy header.hero
        background-image: url(/assets/images/Banners/EquipePetit4.png)  

    .projects__section  header.hero
        background-image: url(/assets/images/Banners/MachinesPetit3.png) 

    .page-contexte header.hero
        background-image: url(/assets/images/Banners/PetitContexte.png)

    .page-portraits header.hero
        background-image: url(/assets/images/Banners/TemoignagePetit.png)

    .page-actualites header.hero
         background-image: url(/assets/images/Banners/TemoignagePetit.png)

    .page-cordel header.hero
         background: url(/assets/images/Banners/cordel.png)

@media (min-width:992px)
    .authors__taxonomy header.hero
        background-image: url(/assets/images/Banners/EquipeGrand.png)

    .projects__section  header.hero
        background-image: url(/assets/images/Banners/MachinesGrand2.png)

    .page-contexte  header.hero
        background-image: url(/assets/images/Banners/ContexteGrand2.png)

    .page-portraits  header.hero
        background-image: url(/assets/images/Banners/TemoignagesGrand2.png)

    .page-actualites  header.hero
        background-image: url(/assets/images/Banners/TemoignagesGrand2.png)

    .page-cordel header.hero
         background: url(/assets/images/Banners/cordel.png)


// Texte incliné et marges du call to action
.block-call_to_action .call_to_action .description
    rotate: -5deg
    padding-left: 2%
    font-style: italic
    padding-top: 0px
    margin-top: 0px

.page__home .hero .content .hero-text
        margin-top: 4rem
        display: none

.page__home .hero
    min-height: 0px
    padding-top: 30px
    margin-top: 0px

.page__home .blocks .block-call_to_action .block-content, body.full-width .block-call_to_action .block-content
    padding-top: 70px 
    padding-bottom: 70px

.block-testimonials blockquote p
    font-size: 1.75rem
    font-family: $heading-font-family
    font-style: normal
    font-weight: 300

.projects__page .hero .project-infos
    display: none

.projects__page .hero .dropdown-share
    position: absolute
    left: 0

.breadcrumb
    display: none

.blocks .heading h2, body.full-width .heading h2
    font-weight: 900
    padding-bottom: 0px
    margin-top: 0px
    margin-bottom: 0px

.block .block-testimonials
    padding-bottom: 0px
    margin-top: 0px
    margin-bottom: 0px
    
    

main > .blocks .block, body.full-width .block
    --block-space-y: 2rem

.project .post-categories, .project .project-categories
    display: none


h2
    color: $color-accent


.page__furo main > .block-content, body.full-width .block
    --block-space-y: 0rem

header#document-header .logo img 
    height: 80px

.page__furo .blocks .block-call_to_action .block-content, body.full-width .block-call_to_action .block-content
    padding-top: 30px
    padding-bottom: 30px
