//RESPONSIVE//
@media (min-width:992px)
    .page__home header.hero
        background-image: url(/assets/images/Banners/DernierActuNouv.png)

@media (max-width:500px)
    .page__home header.hero
        background-image: url(/assets/images/Banners/DernierNouvPetit.png)

@media (min-width:992px)
    .authors__taxonomy header.hero
        background-image: url(/assets/images/Banners/EquipeGrand.png)

@media (max-width:500px)
    .authors__taxonomy header.hero
        background-image: url(/assets/images/Banners/EquipePetit4.png)    

@media (min-width:992px)
    .projects__section  header.hero
        background-image: url(/assets/images/Banners/MachinesGrand2.png)

@media (max-width:500px)
    .projects__section  header.hero
        background-image: url(/assets/images/Banners/MachinesPetit3.png)
    
@media (min-width:992px)
    .page-cordeis  header.hero
        background-image: url(/assets/images/Banners/CordeisGrand2.png)

@media (max-width:500px)
    .organizations__section  header.hero
        background-image: url(/assets/images/Banners/CordeisPetit2.png)

@media (min-width:992px)
    .page-contexte  header.hero
        background-image: url(/assets/images/Banners/ContexteGrand2.png)

@media (max-width:500px)
    .page-contexte header.hero
        background-image: url(/assets/images/Banners/PetitContexte.png)

@media (min-width:992px)
    .page-portraits  header.hero
        background-image: url(/assets/images/Banners/TemoignagesGrand2.png)

@media (max-width:500px)
    .page-portraits header.hero
        background-image: url(/assets/images/Banners/TemoignagePetit.png)